.conteiner {
  position: relative;
  width: 45%;
  min-height: 380px;
  background-color: #ebebeb;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 #d8d8d8;
  margin: 15px;
}

.flag {
  position: absolute;
  top: -5px;
  left: 10px;
}

.icon {
  position: absolute;
  top: 15px;
  left: 17px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #e3000f;
  margin-left: 50px;
  margin-right: 10px;
  border-bottom: 1px solid #e3000f;
}

@media (max-width: 990px) {
  .conteiner {
    width: 100%;
  }
}
